.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    padding-bottom: 8vh !important;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

.contact .logo {
    width: fit-content;
    display: flex;
    justify-content: start !important;
    align-items: start !important;
    z-index: 999;
    padding-top: 12px;
    padding-bottom: 10vh !important;
}


/* ------------ Contact Info ------------ */
.info-container {
    flex: 1;
}

.info-title {
    padding-bottom: 25px;
}

.contact-info {
    flex: 1;
}

.info-item {
    margin-bottom: 2rem;
}

.info-item h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: "Cormorant Garamond", serif;
}

.info-item p {
    font-size: 1.1rem;
}

.info-item {
    margin-bottom: 2rem;
    position: relative;
    padding-left: 40px;
}

.info-icon {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--primary-color);
    font-size: 1.2rem;
}


/* ------------ Contact Form ------------ */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 0.8rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}


.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.btn-1 {
    border-radius: 5px;
    margin-left: 2.5%;
}


/* ------------- Responsive Design ------------- */
@media (max-width: 1024px) {
    .contact {
        flex-direction: column;
        height: auto;
        padding-bottom: 5vh;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact .logo {
        padding-bottom: 5vh !important;
    }

    .info-container {
        text-align: center;
    }

    .info-item {
        padding-left: 0;
        text-align: center;
    }

    .info-icon {
        position: relative;
        margin-bottom: 10px;
    }

    .info-container,
    .contact-form {
        width: 100%;
    }

    .info-title {
        font-size: 30px;
    }

    .info-item h3 {
        font-size: 18px;
    }

    .info-item p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .contact {
        padding: 0 0 30px 0;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .info-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .contact-info {
        gap: 20px;
    }

    .form-group input,
    .form-group textarea {
        /* padding: 12px; */
        font-size: 15px;
    }

    .btn-dark {
        width: 100%;
        text-align: center;
    }
}