.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}


/* ------------- Social Media ------------- */
.home .home-socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home .social-icon {
    padding: 0;
    margin: 0;
    border-radius: 100%;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.home .social-icon img {
    width: 50px;
    height: 50px;
    opacity: 0.9;
}

.home .social-name {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    text-decoration: none !important;
    color: var(--primary-color) !important;
    padding: 3px 8px;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    white-space: nowrap;
    background: var(--bg-color);
}

.home .social-icon:hover {
    border-radius: 10px;
}

.home .social-icon:hover .social-name {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


/* ------------- Profile Info ------------- */
.home .home-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home .home-greeting {
    font-size: 24px;
    margin-bottom: 10px;
}

.home .home-name {
    font-family: "Cormorant Garamond", serif;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}

.home .home-title {
    font-size: 24px;
    margin-bottom: 30px;
    height: 30px;
    transition: opacity 0.5s ease;
}

.home .home-actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}



/* ------------- Profile Image ------------- */
.home .home-image {
    width: 30%;
    display: flex;
    justify-content: center;
}

.home .home-image img {
    border-radius: 20px;
    width: 45vh;
    height: 60vh;
    object-fit: cover;
}

/* ------------- Responsive ------------- */
@media (max-width: 900px) {
    .home {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .home .home-socials {
        display: flex;
        flex-direction: row;
        order: 3;
        margin-top: 20px;
    }

    .home .social-name {
        display: none;
    }


    .home .home-profile {
        width: 100%;
        order: 1;
        margin-bottom: 20px;
    }

    .home .home-name {
        font-size: 50px;
    }

    .home .home-image {
        width: 100%;
        order: 2;
        margin-bottom: 20px;
    }

    .home .home-image img {
        width: 80%;
        height: auto;
        max-height: 500px;
    }
}