.footer {
  background-color: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  padding-bottom: 1rem;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem 2rem;
}

.footer-logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color var(--transition-speed) ease;
  position: relative;
}

.footer-link:hover {
  color: var(--secondary-color);
}

.footer-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width var(--transition-speed) ease;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
  color: var(--secondary-color);
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .footer-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .footer-links{
    display: none;
  }
  .footer-links {
    gap: 1rem;
  }
  
  .footer-logo {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .footer-socials {
    gap: 1rem;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
  }
}