.navbar {
    height: 15vh;
    width: 100%;
    z-index: 1000;
}

.navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.navbar .logo {
    font-family: "Cormorant Garamond", serif;
    font-size: 55px;
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
    z-index: 1001;
}

/* ------------ Desktop Navigation ------------ */
.navbar .desktop-links {
    display: flex;
    gap: 2.5rem;
}

.navbar .nav-link {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
    position: relative;
    padding: 0.5rem 0;
}

.navbar .nav-link:hover {
    color: var(--hover-color);
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--hover-color);
    transition: width var(--transition-speed) ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
}


/* ------------ Mobile Hamburger Icon ------------ */
.navbar .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1001;
}

.navbar .hamburger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all var(--transition-speed) ease;
}


/* ------------ Mobile Navigation ------------ */
.navbar .mobile-links {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.98);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
}

.navbar .mobile-links.open {
    transform: translateY(0);
    opacity: 1;
}

.navbar .mobile-link {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
}

.navbar .mobile-link:hover {
    color: var(--hover-color);
}


/* Hamburger Animation */
.navbar .hamburger.open .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.navbar .hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
}

.navbar .hamburger.open .hamburger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}



/* ------------ Responsive Design ------------ */
@media (max-width: 1024px) and (min-width: 480px) {
    .navbar .navbar-container {
        padding: 1.2rem 0%;
    }

    .navbar .logo {
        font-size: 45px;
    }

    .navbar .desktop-links {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-container {
        padding: 1rem 0%;
    }

    .navbar .logo {
        font-size: 40rem;
    }
}