.navbar {
    display: flex;
    height: 10vh;
    padding: 0 !important;
    width: 80%;
    position: fixed;
    top: 0%;
    left: 10%;
    z-index: 1000;
    background-color: var(--bg-color);
    position: fixed;
}

.navbar .navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
}

.logo {
    font-family: "Cormorant Garamond", serif;
    font-size: 55px;
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
    z-index: 1001;
    transition: all 0.3s ease;

}

.logo.fade-out {
    opacity: 0;
}

.logo.fade-in {
    opacity: 1;
}


/* ------------ Desktop Navigation ------------ */
.navbar .desktop-links {
    display: flex;
    gap: 2.5rem;
}

.navbar .nav-link {
    text-decoration: none;
    transition: color var(--transition-speed) ease;
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 20px;
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width var(--transition-speed) ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
}


/* ------------ Mobile Hamburger Icon ------------ */
.navbar .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1001;
}

.navbar .hamburger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all var(--transition-speed) ease;
}


/* ------------ Mobile Navigation ------------ */
.navbar .mobile-links {
    position: fixed;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
}

.navbar .mobile-links.open {
    transform: translateY(0);
    opacity: 1;
}

.navbar .mobile-link {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
}



/* Hamburger Animation */
.navbar .hamburger.open .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.navbar .hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
}

.navbar .hamburger.open .hamburger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}



/* ------------ Responsive Design ------------ */
@media (max-width: 1024px){
    .navbar {
        width: 90%;
        position: fixed;
        top: 0%;
        left: 5%;
    }

    .navbar .navbar-container {
        width: 100%;
    }

    .logo {
        font-size: 3rem !important;
    }

    .navbar .desktop-links {
        display: none;
    }

    .navbar .hamburger {
        display: flex !important;
    }
}

@media (max-width: 480px) {
  .logo {
        font-size: 2rem !important;
    }
}