@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #4F4D4D;
  --bg-color: #F8F9FA;
  --transition-speed: 0.3s;
  --back: #000;
}

* {
  font-family: "Lora", serif;
  font-style: normal;
}

body {
  background-color: var(--bg-color);
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  color: var(--primary-color);
  margin: 0;
}


/* --------- Heading 1 --------- */
h1 {
  font-size: 40px !important;
  font-weight: 500 !important;
}

/* --------- Heading 2 --------- */
h2 {
  font-size: 35px !important;
  font-weight: 500 !important;
}



/* --------- button --------- */
.btn-light {
  background-color: var(--bg-color) !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color);
}

.btn-light:hover {
  background-color: var(--primary-color) !important;
  color: var(--bg-color) !important;
}

.btn-dark {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--bg-color) !important;
}

.btn-dark:hover {
  background-color: var(--bg-color);
  color: var(--primary-color) !important;
}

.btn {
  color: var(--primary-color);
  text-decoration: none;
  width: fit-content;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: fit-content !important;
}





@media (max-width: 1024px){
  body {
    font-size: 20px !important;
  }

  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  .btn {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px !important;
    padding-left: 5%;
    padding-right: 5%;
  }

  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 25px !important;
  }

  .btn {
    font-size: 14px !important;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 18px !important;
  }

  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  .btn {
    font-size: 13px !important;
  }
}